$dark-bcolor: #222831;
$dark-tcolor: #ffffffb3;
$navbar-dark-bcolor: #222831;

$drawer-dark-bcolor: #222831;
$icon-color: #ff5722;

$dark-primary: #222831;
$dark-secondary: #2d4059;
$dark-third: #ff5722;
$dark-fourth: #eeeeee;
